In [3]:
from newsplease import NewsPlease
import yfinance as yf
import matplotlib.pyplot as plt

In [10]:
stocks = ["MCD", "PEP", "KHC", "OXY", "TSLA", "BTC-USD"]

In [12]:
keywords = {"MCD" : ["McDonalds"],
            "PEP" : ["Pepsi", "Pepsi-cola"],
            "KHC" : ["Heinz", "Kraft Heinz"],
            "OXY" : ["Occidental Petroleum Corporation", "petroleum"],
            "TSLA": ["Tesla", "Elon Musk"],
            "BTC-USD" : ["Bitcoin", "Cryptocurrency"] }

In [11]:
df = yf.download(stocks, 
                     period = "3Y",
                      #start='2019-01-01', 
                      #end='2019-12-31', 
                      progress=False)
df["Close"].head()

,BTC-USD,KHC,MCD,OXY,PEP,TSLA
Date,,,,,,
2017-03-05,1267.119995,NaN,NaN,NaN,NaN,NaN
2017-03-06,1272.829956,91.160004,128.029999,64.730003,109.629997,251.210007
2017-03-07,1223.540039,90.800003,128.070007,64.699997,109.320000,248.589996
2017-03-08,1150.000000,90.900002,128.089996,62.060001,109.300003,246.869995
2017-03-09,1188.489990,91.529999,128.139999,62.500000,109.019997,244.899994

## Google scraping

In [27]:
from googlesearch import search, get_tbs

In [28]:
import datetime

In [31]:
d = datetime.datetime.strptime("20200201", "%Y%m%d")
d = datetime.datetime.strptime("20200201", "%Y%m%d")

In [33]:
tbs

'cdr:1,cd_min:02/01/2020,cd_max:02/01/2020'

In [32]:
tbs = get_tbs(d,d)

In [35]:
terms = "McDonalds"
results =  search(terms ,lang = "en",tbs = tbs, country = "usa", tpe = "nws", stop=5)
urls = []
for url in results:
    urls.append(url)

In [36]:
for r in urls:
    print(r)

https://www.voanews.com/europe/mcdonalds-marks-30-years-russia
https://www.thesun.co.uk/money/10869432/tesco-curry-sauce-tastes-mcdonalds-dip/
https://nypost.com/2020/02/01/mcmillions-how-ex-cop-orchestrated-24-million-mcdonalds-monopoly-scam/
http://wlos.com/news/local/watch-oh-deer-nc-man-gets-plowed-over-by-animal-in-a-mcdonalds-parking-lot
https://www.cbs58.com/news/deer-tramples-man-in-a-mcdonalds-parking-lot

In [49]:
articles = []
for url in urls:
    print(url)
    article = NewsPlease.from_url(url)
    articles.append[article]

https://www.voanews.com/europe/mcdonalds-marks-30-years-russia

TypeError: 'builtin_function_or_method' object is not subscriptable

In [45]:
a = []
a.append(article)

In [47]:
a

In [42]:
NewsPlease.from_url(url).

AttributeError: 'NewsArticle' object has no attribute 'body'

-----

In [4]:
url = "https://www.elmundo.es/economia/actualidad-economica/2020/02/19/5e4d7b2ffc6c83230c8b45bd.html"

In [5]:
article = NewsPlease.from_url(url)
print(article.title)

Robert Sirico: "¿Quiere ayudar a los pobres? Monte una empresa"

In [6]:
article.authors

['Ángel Navarrete', 'Miguel Ors Villarejo']

In [7]:
article.date_download

datetime.datetime(2020, 3, 19, 13, 27, 47)

In [8]:
article.maintext

'Si de verdad nos preocupa la necesidad ajena, sostiene el sacerdote católico y fundador del Instituto Acton, debemos ser prácticos e ir a lo que funciona, y "lo único absolutamente contrastado no es la caridad, sino el libre mercado"\nComo parte de su formación pastoral, a Robert Sirico (Nueva York, 1951) lo destinaron un semestre a una olla popular. Todos los viernes, él y otro seminarista se desplazaban a Anacostia, un barrio de Washington, montaban un refectorio en el sótano de una iglesia baptista, servían el rancho, daban conversación a los que se acercaban a almorzar y lo dejaban luego todo limpio y recogido. El lema de la hermana que dirigía aquel proyecto era "Quien quiera venir, puede venir". Había que atender a todo\nPara seguir leyendo, hazte Premium ¿Ya eres Premium? Inicia sesión Mensual Oferta de lanzamiento 1 € primer mes después 7,99 € Lo quiero'

In [17]:
article.maintext

'Si de verdad nos preocupa la necesidad ajena, sostiene el sacerdote católico y fundador del Instituto Acton, debemos ser prácticos e ir a lo que funciona, y "lo único absolutamente contrastado no es la caridad, sino el libre mercado"\nComo parte de su formación pastoral, a Robert Sirico (Nueva York, 1951) lo destinaron un semestre a una olla popular. Todos los viernes, él y otro seminarista se desplazaban a Anacostia, un barrio de Washington, montaban un refectorio en el sótano de una iglesia baptista, servían el rancho, daban conversación a los que se acercaban a almorzar y lo dejaban luego todo limpio y recogido. El lema de la hermana que dirigía aquel proyecto era "Quien quiera venir, puede venir". Había que atender a todo\nPara seguir leyendo, hazte Premium ¿Ya eres Premium? Inicia sesión Mensual Oferta de lanzamiento 1 € primer mes después 7,99 € Lo quiero'

In [12]:
article.image_url

'https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2020/02/20/15821969919820.jpg'

ModuleNotFoundError: No module named 'yfinance'